@model IEnumerable<MockSchoolManagement.Model.Student>
@{ ViewBag.Title = "学生列表";}

<div class="card-deck">
    @foreach(var student in Model)
    {
        var photoPath = "~/images/avatars/" + (student.PhotoPath ?? "noimage.png");
        <div class="card m-3">
            <div class="card-header">
                <h4 class="card-title">@student.Name</h4>
            </div>
            <img class="card-img-top" src="@photoPath" asp-append-version="true"/>
            <div class="card-body text-center">
                <h5 class="card-title">主修科目：@student.Major</h5>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@student.Id" class="btn btn-primary m-1">查看</a>
                @*<a href="#" class="btn btn-primary">返回</a>*@
                <a asp-controller="home" asp-action="edit" asp-route-id="@student.Id" class="btn btn-primary m-1">编辑</a>
                <a href="#" class="btn btn-primary m-1">删除</a>
                @*<a href="/Home/Details/@student.Id">查看</a>*@
                @*@Html.ActionLink("查看","details",new { id=student.Id})*@

            </div>
        </div>
    }
</div>


